@import url("https://fonts.googleapis.com/css2?family=Poppins");

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 10px 64px;

    box-shadow: rgba(22, 22, 22, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;
}

nav.navbar img {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
}

nav.navbar ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}

nav.navbar li {
    display: flex;
    align-items: center;
}

h3.user-name{
    padding-right: 6px;
}

.profile-icon {
    cursor: pointer;
    max-height: 35px;
    max-width: 35px;
}

.notification-icon {
    font-size: 24px;
}